*{ margin: 0;
 --prussian-blue: #003049ff;
 --maximum-red: #d62828ff;
 --orange: #f77f00ff;
 --maximum-yellow-red: #fcbf49ff;
 --lemon-meringue: #eae2b7ff;
}
a{
  text-decoration: none;
  color: inherit;
}
.navbar{
  background-color: var(--orange) !important;
}
.cart{
  background-color: var(--maximum-yellow-red) !important;
  position: relative !important;
}
.home{
	text-align: center;
	height: calc( 100vh - 64px );
	background-color: var(--maximum-red);
}
.section1{
	text-align: center;
	height: calc( 100vh - 64px );
	background-color: var(--prussian-blue);
	display: flex;
    justify-content: center;
    align-items: center;
    min-width: 240px;
    color: white;
}
.section1 > h2{
	font-weight: bolder;
}
.section2{
	text-align: center;
	min-height: calc( 100vh );
	background-color: var(--lemon-meringue);
}
.section2 > h2{
	color: #003049ff !important;
}
.box {
	align-self: flex-end;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	background-color: var(--orange);
	height: auto;
	margin: 0 auto 0 auto;
	transform-origin: bottom;
	width: 90%;
	transition: all 0.4s ease-in-out;
}
.bounce-7 {
	animation-name: bounce-7;
	animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
	transition: all 0.4s ease-in-out;
}
@keyframes bounce-7 {
	0%   { transform: scale(1,1)      rotate(50deg); }
	16%  { transform: scale(1.1,.9)   rotate(100deg); }
	32%  { transform: scale(.9,1.1)   rotate(150deg); }
	48%  { transform: scale(1.05,.95) rotate(200deg); }
	64%  { transform: scale(1,1)      rotate(250deg); }
	80%  { transform: scale(1,1)      rotate(300deg); }
	100% { transform: scale(1,1)      rotate(360deg); }
}
.box2 {
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
.bounce-8 {
	animation-name: bounce-8;
	animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-8 {
	0%   { transform: scale(1,1)      translateY(0); }
	10%  { transform: scale(1.1,.9)   translateY(0); }
	30%  { transform: scale(.9,1.1)   translateY(-50px); }
	50%  { transform: scale(1.05,.95) translateY(0); }
	57%  { transform: scale(1,1)      translateY(-7px); }
	64%  { transform: scale(1,1)      translateY(0); }
	100% { transform: scale(1,1)      translateY(0); }
}
.box3 {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	background-color: transparent;
}
.gallery{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
}

.product-name2{
  margin-top: 60px;
  padding: 20px;
  color: #ff6d39;
}
.product-name2 button{
  margin-top: 20px;
}
.product-price2{
  margin-top: 10px;
  font-weight: bolder;
  font-size: 3.6rem;
  color: #ffffff;
}
/*main card*/

.card2 {
  display: flex;
  align-items: center;
  background-color: #eae2b7ff;
  margin: 3% auto;
  width: 90%
}

.left2 {
  content: "";
  height: 60vh;
  width: 30%;
  display: flex;
  align-items: center;
  background-color: #ff6d39;
  margin-left: 93px;
  border-radius: 20px 50% 50% 20px;
  position: absolute;
  z-index: 5;
}

.left2 img {
  margin-left: -40px;
  margin-top: 60px;
  width: 300px;
}

.right2 {
  content: "";
  height: 60vh;
  width: 70%;
  background-color: #2a2f40;
  z-index: 3;
  margin-left: 200px;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-info2 {
  margin: 40px 0 0 180px;
  height: 60vh;
  width: 300px;
  z-index: 10;
  text-align: center;
}

@media (max-width: 700px){
  .card2 {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .left2 {
    width: 80%;
    padding: 20px;
    height: auto;
    position: initial;
    border-radius: 20% 20% 0px 0px;
    margin: 0;
  }
  .right2 {
    content: "";
    width: 80%;
    z-index: 0;
    height: auto;
    padding: 20px;
    margin: 0 0 100px 0;
    border-radius: 0px 0px 20px 20px;
  }
  .product-info2 {
    position: initial;
    height: auto;
    margin: 0;
    width: 100%;
  }
  .left2 img {
    margin: 60px auto 0 auto;
    width: 300px;
  }
}
@media (max-width: 400px){
  .left2 img {
    margin-left: 0;
    margin-top: 60px;
    width: 240px;
  }
}



@media (max-width: 400px){
	.section1 > h2{
		font-size: 4rem;
	}
}