*{ margin: 0;
 --prussian-blue: #003049ff;
 --maximum-red: #d62828ff;
 --orange: #f77f00ff;
 --maximum-yellow-red: #fcbf49ff;
 --lemon-meringue: #eae2b7ff;
}
a{
  text-decoration: none;
  color: inherit;
}
.navbar{
  background-color: var(--orange) !important;
}
.cart{
  background-color: var(--maximum-yellow-red) !important;
  position: relative !important;
}
.home{
	text-align: center;
	height: calc( 100vh - 64px );
	background-color: var(--maximum-red);
}
.section1{
	text-align: center;
	height: calc( 100vh - 64px );
	background-color: var(--prussian-blue);
	display: flex;
    justify-content: center;
    align-items: center;
    min-width: 240px;
    color: white;
}
.section1 > h2{
	font-weight: bolder;
}
.section2{
	text-align: center;
	min-height: calc( 100vh );
	background-color: var(--lemon-meringue);
}
.section2 > h2{
	color: #003049ff !important;
}
.box {
	align-self: flex-end;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	background-color: var(--orange);
	height: auto;
	margin: 0 auto 0 auto;
	transform-origin: bottom;
	width: 90%;
	transition: all 0.4s ease-in-out;
}
.bounce-7 {
	animation-name: bounce-7;
	animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
	transition: all 0.4s ease-in-out;
}
@keyframes bounce-7 {
	0%   { transform: scale(1,1)      rotate(50deg); }
	16%  { transform: scale(1.1,.9)   rotate(100deg); }
	32%  { transform: scale(.9,1.1)   rotate(150deg); }
	48%  { transform: scale(1.05,.95) rotate(200deg); }
	64%  { transform: scale(1,1)      rotate(250deg); }
	80%  { transform: scale(1,1)      rotate(300deg); }
	100% { transform: scale(1,1)      rotate(360deg); }
}
.box2 {
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
.bounce-8 {
	animation-name: bounce-8;
	animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-8 {
	0%   { transform: scale(1,1)      translateY(0); }
	10%  { transform: scale(1.1,.9)   translateY(0); }
	30%  { transform: scale(.9,1.1)   translateY(-50px); }
	50%  { transform: scale(1.05,.95) translateY(0); }
	57%  { transform: scale(1,1)      translateY(-7px); }
	64%  { transform: scale(1,1)      translateY(0); }
	100% { transform: scale(1,1)      translateY(0); }
}
.box3 {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	background-color: transparent;
}
.gallery{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
}

.card2{
	width: 80%;
	margin: 0 auto;
	color: white !important;
	background-color: var(--prussian-blue);
	padding: 20px;
	border-radius: 20px;
}
.cardimg{
	display: flex;
	justify-content: center;
	align-items: center;
}
.cardimg img{
	width: 90%;
	max-width: 600px;
}
.cardtext{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.cardtext h1{
	color: var(--orange) !important;
    font-size: 3rem;
    font-weight: 300;
}
.cardtext button{
	color: var(--prussian-blue) !important;
}
.cardprice{
	font-size: 5rem;
	font-weight: bolder;
}

@media (max-width: 400px){
	.section1 > h2{
		font-size: 4rem;
	}
}